<div class="tab-wrap">
  <div class="tab-header flex">
    <div *ngFor="let nav of tabNavs" [class.actived]="nav.active" class="nav-item" (click)="handleTabChange(nav, $event)">
        {{nav.name}}
    </div>
    <div class="tab-active-bar" [style.transform]="slideDirection" [style.width]="activeNavWidth">

    </div>
  </div>
  <div class="tab-body flex">
    <ng-container *ngFor="let nav of tabNavs">
      <div *ngIf="nav.id === activeTab.id" [@flyInOut]="'slide'">
          {{activeTab.name}}
      </div>
    </ng-container>
   
 
    <!-- <div [ngSwitch]="activeTab.id">
      <div *ngSwitchCase="1" class="tab-content"  >
        xxxxx1
      </div>
      <div *ngSwitchCase="2" class="tab-content" [@flyInOut]="'slide'">
        xxxxx2
      </div>
      <div *ngSwitchCase="3" class="tab-content" [@flyInOut]="'slide'">
        xxxxx3
      </div>

    </div> -->

  </div>


  
</div>